.carousel-item {
    position: relative;
 }

.carousel-inner img {
  height: 400px; /* Set a fixed height */
  object-fit: cover; /* Ensures the image covers the given area without stretching */
  transition: filter 3s ease-in-out;
}

.card.cd img {
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image covers the given area without stretching */
    transition: filter 3s ease-in-out;
  }


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Initial transparent overlay */
    transition: background-color 3s ease-in-out;
    pointer-events: none; /* Ensure the overlay doesn't interfere with clicks */
 }